powerline-status
Django
EasyProcess
PySocks
PyVirtualDisplay
Pygments
amqp
anyjson
backcall
beautifulsoup4
billiard
bs4
celery
certifi
chardet
cycler
decorator
django-celery
django-telegrambot
emoji
future
idna
ipdb
ipython
ipython-genutils
jedi
kiwisolver
kombu
lxml
# matplotlib==2.1.1
numpy
oauthlib
parso
pexpect
pickleshare
prompt-toolkit
ptyprocess
pyTelegramBotAPI
pyparsing
python-dateutil
python-telegram-bot
pytube
pytz
redis
requests
requests-oauthlib
selenium
simplegeneric
six
traitlets
tweepy
typing
urllib3
wcwidth
youtube-dl
